body {
    font-family: 'Poppins', sans-serif;
    background: url('bg.avif') no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
}
.container:hover {
    transition: .5s ease-in-out;
    box-shadow: 0 0 20px black;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
button {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}
input:hover {
    box-shadow: 0 0 5px grey inset;
}

button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

.edit-btn,
.delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #ffc107;
}

.delete-btn {
    background-color: #dc3545;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.delete-btn:hover {
    background-color: #c82333;
}